{

	margin: 0;
	padding: 0;
}

header

{
	background-image: url(pinkbackground.jpg) ; 
	height: 200vh;
	background-size: cover;
	background-position: center
}

.nav-bar
{
	background: rgb(0, 0, 0, 0.5);
	height: 80px;
}

.logo{

	margin: 10px 50px;
	height: 60px;
}


.menu{
	float: right;
	list-style: none;
	margin: 20px;
}

.menu li{
	display: inline-block;
	margin: 10px 5px;

}

.menu li a{
	text-decoration: none:
	color: #ffffff;
	padding: 5px 10px;
	font-family: sans-serif; 
	letter-spacing: 5px;
	border: 1px solid #ffffff;


}


.menu li a:hover{
	background:#fff;
	transition: .4s;
	color: #ffffff;
}


.welcome{
	position: relative;
	text-align: center;
	font-family: sans-serif;
	color: #fff
	top: 160px;
}

.welcome h1{
	font-size: 42px:
	margin: 25px;
}

.btn{	
	font-size: 18px
	letter-spacing: 2px:
	margin: 5px;
	padding: 7px 10px;
	text-decoration: none;
	border: 1px solid #fff;


	}

.btn1{
	color: #fff;
}

.btn1:hover{
	background: #fff;
	color: #000;
	transition: .4s;

}

.btn2{
	color: #fff;

}

.btn2:hover{
	background: #fff;
	color: #000;
	transition: .4s;

}




