h3{font-size: 36pt;
	font-family: Garamond;
	color:pink;


}

.human{background-color: grey;
	width: 100px;	
	height: 300px;
	position: absolute;
	top: 30px;
	left:200px;

}
	a{
		font-size:50pt;
		color:pink;


	}

#container{
	background-color: #b784a7; 
	border: 6px dashed pink;
	height: 100px;
	width: 400px;
	position: relative;
	top:0;
	left:0;
	margin:0 auto;
}

